@using System.Threading.Tasks
@using Core1010.Repository.Models
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

@foreach (Engagement eng in @Model.Engagements)
{
    <div class="thumbnail">
        @eng.Id
    </div>
    <div class="thumbnail">
        @eng.Name
    </div>
    <div class="thumbnail">
        @eng.Description
    </div>
}


